
<h1>Help</h1>
<p>
  Obtenha ajuda sobre o Ruby on Rails Tutorial no
  <a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>
  Para obter ajuda sobre este exemplo de aplicativo, consulte o
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
    book</a>
</p>
